<br/>
<div class="row " style="height: 400px;">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 rounded"  style="background-color: white;">
    <br/>
    <span style="text-align: center;"><h3>Add Job</h3></span>
    <div style="width: auto;">
      <form>
        <div class="form-group row">
          <label for="jobTitle" class="col-sm-3 col-form-label" style="text-align: right;">Title</label>
          <div class="col-lg-7">
              <input type="text" class="form-control" id="jobTitle" data-toggle="tooltip"
              data-placement="right" title="Enter key skills">
          </div>
       </div>
       <div class="form-group row">
        <label for="jobOverview" class="col-sm-3 col-form-label" style="text-align: right;">Overview</label>
        <div class="col-lg-7">
            <input type="text" class="form-control" id="jobOverview" data-toggle="tooltip"
            data-placement="right" title="Enter key skills">
        </div>
      </div>
       <div class="form-group row">
        <label for="jobCompany" class="col-sm-3 col-form-label" style="text-align: right;">Company</label>
        <div class="col-lg-7">
            <input type="text" class="form-control" id="jobCompany" data-toggle="tooltip"
            data-placement="right" title="Enter key skills">
        </div>
     </div>
     <div class="form-group row">
      <label for="jobLocation" class="col-sm-3 col-form-label" style="text-align: right;">Location</label>
      <div class="col-lg-7">
          <input type="text" class="form-control" id="jobLocation" data-toggle="tooltip"
          data-placement="right" title="Enter key skills">
      </div>
   </div>
  <div class="form-group row">
    <label for="jobTechnology" class="col-sm-3 col-form-label" style="text-align: right;">Technology</label>
    <div class="col-lg-7">
        <input type="text" class="form-control" id="jobTechnology" data-toggle="tooltip"
        data-placement="right" title="Enter key skills">
    </div>
  </div>
  <div class="form-group row">
    <label for="keyskill" class="col-sm-3 col-form-label" style="text-align: right;">Key Skills</label>
    <div class="col-lg-7">
        <input type="text" class="form-control" id="keySkill" data-toggle="tooltip"
        data-placement="right" title="Enter key skills">
    </div>
  </div>
  <div class="form-group row">
    <label for="jobCategory" class="col-sm-3 col-form-label" style="text-align: right;">Category</label>
    <div class="col-lg-7">
      <select class="form-control"  data-toggle="tooltip"
    data-placement="right" title="category">
      <option *ngFor="let jobCat of jobCategory" value="{{ jobCat }}">
        {{ jobCat }}</option>
    </select>
    </div>
</div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label" style="text-align: right;">Experience</label>
    <div class="col-lg-3">
      <select class="form-control"  data-toggle="tooltip"
      data-placement="right" title="Year">
        <option value="null">Year</option>
        <option *ngFor="let exp of experienceYearValues" value="{{ exp }}">
          {{ exp }} Year</option>
      </select>
    </div>
    <div class="col-lg-4">
      <select class="form-control"  data-toggle="tooltip"
      data-placement="right" title="Year">
        <option value="null">Month</option>
        <option *ngFor="let exp of experienceMonthValues" value="{{ exp }}">
          {{ exp }} Month</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label" style="text-align: right;">Start Date</label>
    <div class="col-lg-3">
      <input type="date" class="form-control" id="startDate">
    </div>
    <label for="category" class="col-sm-1 col-form-label" style="text-align: left;">End Date</label>
    <div class="col-lg-3">
      <span style="text-align: left;"><input type="date" class="form-control" id="startDate"></span>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label" style="text-align: right;">Roles</label>
    <div class="col-lg-7">
      <textarea class="form-control" id="startDate"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label" style="text-align: right;">Company Desc</label>
    <div class="col-lg-7">
      <textarea class="form-control" id="startDate"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label" style="text-align: right;">Skill Details</label>
    <div class="col-lg-7">
      <textarea class="form-control" id="startDate"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="category" class="col-sm-3 col-form-label" style="text-align: right;">Attributes</label>
    <div class="col-lg-7">
      <textarea class="form-control" id="startDate"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-sucess" style="background-color: #86bc25; width: 100px;"
      (click)="submitForm()">Submit</button></div>
  </div>
      </form>
    </div>
  </div>
</div>

